body {
    background-image: url(../images/4853433.jpg);
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body p:last-of-type {
    margin-bottom: 0;
    background-color: lightgray;
    background-size: cover;
}

@font-face {
    font-family: "MagicRetro";   /*Can be any text*/
    src: local("MagicRetro"),
      url("../fonts/MagicRetro.ttf") format("truetype");
  }

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color:darkgrey;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    opacity: .7
}

